<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>|| HRMS ||</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link rel="text/html" th:include="common/import_css :: import_css" />
</head>
<body>
	<header th:include="common/header :: header"></header>
	<div class="container">
	<div class="row">
		<div class="form-horizontal" style="font-size: 16px; text-align : center; " >
			<div class="col-sm-4" style="text-align:left">
				<span><b>Employee Name :  </b></span>
				<span th:text="${response.employee.firstName}+' '+${response.employee.lastName}"></span> <br/>
				<span><b>Employee Code :  </b></span>
				<span th:text="${response.employee.empCode}"></span><br/>
				<span><b>Team :  </b></span>
				<span th:text="${response.employee.team}"></span><br/>
				<span><b>Designation :  </b></span>
				<span th:text="${response.employee.designation}"></span>
			</div>
			<div class="col-sm-8" style="text-align:center">
				<div class="col-sm-4"> <span><b>  Employee Weightage </b>  </span><br/>
				<span th:if="${response.employeeTotalWeightage} > 0">
					<span th:text="${response.employeeWeightage}">
					</span>
					<span>/</span>
					<span th:text="${response.employeeTotalWeightage}">
					</span>
				</span>
				<span th:if="${response.employeeTotalWeightage} == 0">
					<span>---</span>
				</span>
				</div>
				<div class="col-sm-4"> <span><b>  Reviewer Weightage </b>  </span><br/>
					<span th:if="${response.reviewerTotalWeightage} > 0">
						<span th:text="${response.reviewerWeightage}">
						</span>
						<span>/</span>
						<span th:text="${response.reviewerTotalWeightage}">
						</span>
					</span>
					<span th:if="${response.reviewerTotalWeightage} == 0">
						<span>---</span>
					</span>
				</div>
				<div class="col-sm-4"> <span><b>  Appraiser Weightage </b>  </span><br/>
					<span th:if="${response.appraiserTotalWeightage} > 0">
						<span th:text="${response.appraiserWeightage}">
						</span>
						<span>/</span>
						<span th:text="${response.appraiserTotalWeightage}">
						</span>
						</span>
					<span th:if="${response.appraiserTotalWeightage} == 0">
						<span>---</span>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div th:if="${response.success}!= null">
	 	<input type="hidden" id="statusSuccess" name="statusSuccess" th:value="${response.success}" />
	</div>
	<div th:if="${response.error}!= null">
		<input type="hidden" id="statusError" name="statusError" th:value="${response.error}" />
	</div>
	<div th:if="${response.isSubmitted} == 1">
		<form id="saveForm" name="saveForm" th:action="@{/admin/saveForm}" th:method="post">
			<input type="hidden" name="empApprisalAnsId" id="empApprisalAnsId" th:value="${response.empApprisalAnsId}!=null ? ${response.empApprisalAnsId} : null" />
				<div class="row" th:each="questionSection : ${response.questionSectionList}">
					<div th:if="${questionSection.isMandatory == 0}">
							<div class="col-sm-12">
								<div class="page-header" >
									<h3 th:text="${questionSection.sectionTitle}"></h3>
								</div>
								<table class="table table-striped" id="tableID">
									<thead>
										<tr>
											<th>DELIVERABLES</th>
											<th>Justifications</th>
											<th style="text-align: center;">Weightage</th>
											<th>Employee <br /> Weightage</th>
											<th>Reviewer <br /> Weightage</th>
											<th>Appraiser <br /> Weightage</th>
											<th>Remarks</th>
										</tr>
									</thead>
										<tbody>
											<tr th:each="question : ${questionSection.questions}" class="" th:classappend="${question[__${question.quesIsChecked}__] == 0} ? danger : no" >
												<td th:text="${question.question}"></td>
												<td><textarea class="form-control" rows="4" readonly="readonly" th:text="${question[__${question.quesAnswer}__]} != null ? ${question[__${question.quesAnswer}__]} : null"></textarea></td>
												<td align="center" th:text="${question.weightage}"></td>
												<td th:text = "${question[__${question.quesWeightAge}__]} == 0 ? null : ${question[__${question.quesWeightAge}__]}" ></td>
												
												<td><input type="text" class="form-control" style="width: 60px" th:name="${question.reviewerWeightAge}" th:id="${question.reviewerWeightAge}" th:value = "${question[__${question.reviewerWeightAge}__]} == 0 ? null : ${question[__${question.reviewerWeightAge}__]}" 
													th:attr="reviewer-weightage=${question.weightage}"
													onkeyup="this.value = this.value.replace(/[^0-9]/g, ''); if(this.value > parseInt($(this).attr('reviewer-weightage'))) { alert('Please enter below ' + $(this).attr('reviewer-weightage')); this.value = '';}" maxlength="2" />
												</td>
												<td><input type="text" class="form-control" style="width: 60px" th:name="${question.appriserWeightAge}" th:id="${question.appriserWeightAge}" th:value = "${question[__${question.appriserWeightAge}__]} == 0 ? null : ${question[__${question.appriserWeightAge}__]}" 
													th:attr="appriser-weightage=${question.weightage}"
													onkeyup="this.value = this.value.replace(/[^0-9]/g, ''); if(this.value > parseInt($(this).attr('appriser-weightage'))) { alert('Please enter below ' + $(this).attr('appriser-weightage')); this.value = ''; }" maxlength="2" />
												</td>
												<td><textarea class="form-control" rows="4" th:name="${question.remarks}" th:id="${question.remarks}" th:text="${question[__${question.remarks}__]} != null ? ${question[__${question.remarks}__]} : null" maxlength="400"></textarea></td>
												<td style="display:none;"><input type="hidden" th:name="${question.ansId}" th:id="${question.ansId}" th:value = "${question[__${question.ansId}__]}" /></td>
											</tr>
										</tbody>
								</table>
							</div> <!-- col -->
						</div> 
						<div th:if="${questionSection.isMandatory == 1}">
							<div class="col-sm-12">
								<div class="page-header">
									<h3 th:text="${questionSection.sectionTitle}"></h3>
								</div>
								<table class="table table-striped property-disable">
									<thead>
										<tr>
											<th>Question</th>
											<th>Justifications</th>
											<th>Remarks</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="question : ${questionSection.questions}" class="qsecClassMandatory" >
											<td th:text="${question.question}"></td>
											<td><textarea class="form-control" rows="4" th:name="${question.quesAnswer}" th:id="${question.quesAnswer}" th:text="${question[__${question.quesAnswer}__]} != null ? ${question[__${question.quesAnswer}__]} : null" maxlength="400" readonly="readonly"></textarea></td>
											<td><textarea class="form-control" rows="4" th:name="${question.remarks}" th:id="${question.remarks}" th:text="${question[__${question.remarks}__]} != null ? ${question[__${question.remarks}__]} : null" maxlength="400"></textarea></td>
											<td style="display:none;"><input type="hidden" th:name="${question.ansId}" th:id="${question.ansId}" th:value = "${question[__${question.ansId}__]}" /></td>
										</tr>
									</tbody>
								</table>
							</div> <!-- col -->
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-horizontal">
								<div class="form-group">
										<label class="col-sm-2 control-label">Notes:</label>
									<div class="col-sm-10">
									<textarea name="notes" id="notes" th:text="${response.notes}" class="form-control" rows="4"></textarea>
									</div>
								</div>
							</div> <!-- form-horizontal -->
						</div> <!-- col -->
						<div class="col-sm-12">
							<div class="frm-btn">
								<button class="btn btn-success">Save</button>
								<input type="hidden" name="isSubmitted" id="iscompleted" value="2"/>
								<a class="btn btn-primary" th:href="@{/admin/dashboard}">Cancel</a>
							</div> <!-- frm-btn -->
						</div> <!-- col -->
					</div> <!-- row -->
				</form>
			</div>
			<div th:if="${response.isSubmitted} != 1">
			 <h4 style="text-align: center; color: red;" th:text="${response.employee.firstName}+' ' +${response.employee.lastName} +', not yet submit the form.'"></h4>
			</div>
	</div> <!-- container -->
</body>
<link rel="text/html" th:include="common/import_js :: import_js" />
<script type="text/javascript">
	//<![CDATA[ 

		$( document ).ready(function() {
			 var status = $('#statusSuccess').val();
	    	 if (status != undefined) {
	    	  alert(status);
	    	}
	    	 var error = $('#statusError').val();
	    	 if (error != undefined) {
	    	  alert(error);
	    	}
		});
		//]]>
	</script>
</html>