<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>|| HRMS ||</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link rel="text/html" th:include="common/import_css :: import_css" />
</head>
<body>
	<header th:include="common/header :: header"></header>
	<div class="container">
		<div class="row">
				<div class="col-sm-5">
					<div class="form-horizontal">
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-2 control-label">Appraisal</label>
							<div class="col-sm-9">
								<select name="" id="`" class="form-control">
									<option value=""> Performance Review Nov 2016</option>
								</select>
							</div>
						</div>
					</div>
				</div> <!-- col -->
				<br />
				<div class="col-sm-12">
					<table class="table table-striped table-bordered" id="tableID">
						<thead>
							<tr>
								<th>Emp. Code</th>
								<th>Employee Name</th>
								<th>Designation</th>
								<th>Team</th>
								<th>Reviewed By</th>
								<th>Submitted Date</th>
								<th></th>
							</tr>
						</thead>
						<tbody th:if="${response.list} != null">
							<tr th:each="employee : ${response.list}">
								<td th:text="${employee.empCode}"></td>
								<td th:text="${employee.firstName}+' '+${employee.lastName}"></td>
								<td th:text="${employee.designation}"></td>
								<td th:text="${employee.team}"></td>
								<td th:text="${employee.appraiserFirstName} == null ? ' ' : ${employee.appraiserFirstName}+' '+${employee.appraiserLastName}"></td>
								<td th:text="${employee.updatedDate}"></td>
								<td><a th:href="@{/admin/viewEmployeeForm(empId=${employee.empId})}"><span class="glyphicon glyphicon-pencil"></span></a></td>
							</tr>
						</tbody>
						<tbody th:if="${response.list} == null">
							<tr>
								<td colspan="7" th:text="'No Details Found'" style="text-align : center;"/>
							</tr>
						</tbody>
					</table>
				</div> <!-- col -->
			</div> <!-- row -->
	</div> <!-- container -->
</body>
	<link rel="text/html" th:include="common/import_js :: import_js" />
	<script>
		$( document ).ready(function() {
			$('input[type=checkbox]', '#tableID').click(function(e) {
			    $(this).closest('tr')
					.find('textarea, input[type=text]').not(this)
					.prop('disabled', this.unchecked);
			});
		});
	</script>
</html>