<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<title>|| HRMS ||</title>
<link rel="text/html" th:include="common/import_css :: import_css" />
</head>
<body style="background-color: #f9f9f9;">
	<div class="container">
		<div class="loginBox">
			<div class="logo">
				<img th:src="@{/images/logo.png}" class="img-responsive" alt=""/>
			</div>
			<div th:if="${response}!= null"> 
				<div th:if="${response.passwordBean}!= null">
					<form class="form-signin" th:action="@{/employee/changePassword}" th:object="${passwordBean}" th:method="POST">
						<h4 class="form-signin-heading">Change Your Password</h4>
						<div th:if="${response.error}!= null"> 
							<p style="color:red;" th:text="${response.error}"></p>
						</div>
						<input type="hidden" id="empId" name="empId" th:value="${session.employee.empId}" />
						<label for="newPassword" class="sr-only">New Password</label>
						<input type="password" id="newPassword" name="newPassword" class="form-control" placeholder="New Password" th:value="${response.passwordBean.newPassword}" th:required="required" th:autofocus="autofocus" />
						<div id="errorMsg1" style="color:red;"></div>
						<br/>
						<label for="confirmPassword" class="sr-only">Confirm Password</label>
						<input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Confirm Password" th:value="${response.passwordBean.confirmPassword}" th:required="required" />
						<div id="errorMsg2" style="color:red;"></div>
						<br/>
						<button class="btn btn-lg btn-primary btn-block" type="submit" onclick="submitForm(); return false;">Update</button>
					</form>
				</div>
			</div> 
		</div>
	</div><!-- /container -->
</body>
<link rel="text/html" th:include="common/import_js :: import_js" />
<script type="text/javascript">
	//<![CDATA[ 
	           function submitForm(){
	        	   if($('#newPassword').val().length < 8){
	        		   $('#newPassword').focus();
	        		   $('#errorMsg2').html('');
	        		   $('#errorMsg1').html('Enter minimum 8 characters');
	        		   return false;
	        	   }
	        	   if($('#newPassword').val() == $('#confirmPassword').val()){
	        		   form.submit();
	        		   return true;
	        	   }else{
	        		   $('#confirmPassword').focus();
	        		   $('#errorMsg1').html('');
	        		   $('#errorMsg2').html('New password & Confirm password mismatched');
	        		   return false;
	        	   }
	        	   
	           }
		//]]>
	</script>
</html>