<html xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="import_css">
		<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
	    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
	</head>
</html>