<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<title>|| HRMS ||</title>
<link rel="text/html" th:include="common/import_css :: import_css" />
</head>
<body style="background-color: #f9f9f9;">
	<div class="container">
		<div class="loginBox">
			<div class="logo">
				<img th:src="@{/images/logo.png}" class="img-responsive" alt=""/>
			</div>
			<div th:if="${response}!= null"> 
				<div th:if="${response.loginBean}!= null">
					<form class="form-signin" th:action="@{/employee/userAuthentication}" th:object="${loginBean}" th:method="POST">
<!-- 						<h5 class="form-signin-heading">Please sign in</h5> -->
						<div th:if="${response.error}!= null"> 
						<p style="color:red;" th:text="${response.error}"></p>
						</div>
<!-- 						<div th:if="${session.error}!= null">  -->
<!-- 							<p style="color:red;" th:text="${session.error}"></p> -->
<!-- 							<span style="color:red;" th:text="${session.error}!=null ? ${session.error}=null : ${session.error}=null"></span> -->
<!-- 						</div> -->
						<label for="empCode" class="sr-only">Employee ID</label>
						<input type="text" id="empCode" name="empCode" class="form-control" placeholder="Employee ID" th:value="${response.loginBean.empCode}" th:required="required" th:autofocus="autofocus" />
						<br/>
						<label for="password" class="sr-only">Password</label>
						<input type="password" id="password" name="password" class="form-control" placeholder="Password" th:value="${response.loginBean.password}" th:required="required" />
						<br/>
						<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
					</form>
				</div>
			</div> 
		</div>
	</div><!-- /container -->
</body>
<link rel="text/html" th:include="common/import_js :: import_js" />
</html>