<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<title>|| HRMS ||</title>
<link rel="text/html" th:include="common/import_css :: import_css" />
<link rel="text/html" th:include="common/import_js :: import_js" />

</head>
<body>
	<header th:include="common/header :: header"></header>
	<div class="container">
	
		<div th:if="${response.apprisalTitle}!= null">
			<div th:if="${response.isSubmitted}==1">
				<div th:if="${response.message}== null">
					<h3 style="text-align: center; color: green;" th:text="'Your form has been already submitted.'"></h3>
				</div>
				<div th:if="${response.message} != null">
					<h3 style="text-align: center; color: green;" th:text="${response.message}"></h3>
				</div>
			</div>
			<div th:if="${response.isSubmitted}==0">
				<div th:if="${response.success}!= null">
				 <input type="hidden" id="statusSuccess" name="statusSuccess" th:value="${response.success}" />
				</div>
				<div th:if="${response.error}!= null">
				<input type="hidden" id="statusError" name="statusError" th:value="${response.error}" />
				</div>
				<form id="saveForm" name="saveForm" th:action="@{/employee/saveForm}" th:method="post">
				<input type="hidden" name="apprisalId" id="apprisalId" th:value="${response.apprisalId}!=null ? ${response.apprisalId} : null" />
				<input type="hidden" name="empApprisalAnsId" id="empApprisalAnsId" th:value="${response.empApprisalAnsId}!=null ? ${response.empApprisalAnsId} : null" />
				<h3 style="text-align: center; color: blue;" th:text="${response.apprisalTitle}"></h3>
				
				<div th:each="questionSection,status : ${response.questionSectionList}">
					<div th:if="${questionSection.isMandatory == 0}">
						<div class="row">
								<div class="col-sm-12">
									<div class="page-header">
										<h3 th:text="${questionSection.sectionTitle}" class="pull-left"></h3>
										<p th:if="${status.index == 0}" style="text-align :right; color:red;" class="pull-right"><i>Note: Overall weightage is calculated for 100.</i></p>
										<div class="clearfix"></div>
									</div>
									<table class="table table-striped property-disable">
										<thead>
											<tr>
												<th>DELIVERABLES</th>
												<th></th>
												<th>Justifications</th>
												<th style="text-align: center;">Weightage</th>
												<th>Employee <br/> Weightage</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="question : ${questionSection.questions}" class="qsecClass" >
												<td th:text="${question.question}"></td>
												<td><input type="checkbox" th:name="${question.quesIsChecked}" th:id="${question.quesIsChecked}" th:checked="${question[__${question.quesIsChecked}__]} == 1 ? checked : no" /></td>
												<td><textarea class="form-control" rows="4" th:readonly="${question[__${question.quesIsChecked}__]} == 0 ? readonly : no" th:name="${question.quesAnswer}" th:id="${question.quesAnswer}" th:text="${question[__${question.quesAnswer}__]} != null ? ${question[__${question.quesAnswer}__]} : null" maxlength="400"></textarea></td>
												<td align="center" th:text="${question.weightage}"></td>
												
												<td><input type="text" 
												class="form-control" 
												style="width: 60px" 
												th:readonly="${question[__${question.quesIsChecked}__]} == 0 ? readonly : no" 
												th:name="${question.quesWeightAge}" th:id="${question.quesWeightAge}" 
												th:value = "${question[__${question.quesWeightAge}__]} == 0 ? null : ${question[__${question.quesWeightAge}__]}"
												th:attr="data-weightage=${question.weightage}"
												onkeyup="this.value = this.value.replace(/[^0-9]/g, ''); if(this.value > parseInt($(this).attr('data-weightage'))) { alert('Please enter below ' + $(this).attr('data-weightage')); this.value = ''; this.focus(); }" maxlength="2" /></td>
	<!-- 											onkeyup="this.value = this.value.replace(/[^0-9]/g, ''); if(this.value > $(this).attr('data-weightage')) { alert('Please enter below ' + $(this).attr('data-weightage')); this.value = ''; this.focus(); }" maxlength="2" /></td> -->
												
												<td style="display: none" ><input type="hidden" name="weightage" id="weightage" th:value="${question.weightage}" disabled="disabled"/></td>
												<td style="display: none" ><input type="hidden" th:name="${question.ansId}" th:id="${question.ansId}"  th:value="${question[__${question.ansId}__]}" /></td>
											</tr>
										</tbody>
									</table>
								</div> <!-- col -->
							</div> <!-- row -->
						</div>
						<div th:if="${questionSection.isMandatory == 1}">
						<div class="row">
								<div class="col-sm-12">
									<div class="page-header">
										<h3 th:text="${questionSection.sectionTitle}"></h3>
									</div>
									<table class="table table-striped property-disable">
										<thead>
											<tr>
												<th>Question</th>
												<th>Justifications</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="question : ${questionSection.questions}" class="qsecClassMandatory" >
												<td th:text="${question.question}"></td>
												<td><textarea class="form-control" rows="4" th:name="${question.quesAnswer}" th:id="${question.quesAnswer}" th:text="${question[__${question.quesAnswer}__]} != null ? ${question[__${question.quesAnswer}__]} : null" maxlength="400" ></textarea></td>
												<td style="display: none" ><input type="hidden" th:name="${question.ansId}" th:id="${question.ansId}"  th:value="${question[__${question.ansId}__]}" /></td>
											</tr>
										</tbody>
									</table>
								</div> <!-- col -->
							</div> <!-- row -->
						</div>
					</div>
					
					<div class="row">
						<div class="col-sm-12">
							<div class="frm-btn">
								<button class="btn btn-success" onclick="addingForm(); return false;">Save</button>
								<input type="hidden" name="isSubmitted" id="iscompleted" value="0"/>
								<button class="btn btn-primary" onclick="submitForm(); return false;">Submit</button>
							</div> <!-- frm-btn -->
						</div> <!-- col -->
					</div> <!-- row -->
				</form>
			</div>
		</div>
		<div th:if="${response.apprisalTitle}== null">
			<h3 style="text-align: center; color: green;" th:text="'Currently no appraisal form found'"></h3>
		</div>
	</div> <!-- container -->
</body>
	
	<script type="text/javascript">
	//<![CDATA[ 

		$( document ).ready(function() {
			 var status = $('#statusSuccess').val();
	    	 if (status != undefined) {
	    	  alert(status);
	    	}
	    	 var error = $('#statusError').val();
	    	 if (error != undefined) {
	    	  alert(error);
	    	}
			$('input[type=checkbox]').click(function(e) {
			    if($(this).is(':checked')) {
			    	$(this).parent().parent().find('textarea').attr('readonly', false);
			    	$(this).parent().parent().find('input[type=text]').attr('readonly', false);
			    }
			    else {
			    	$(this).parent().parent().find('textarea').attr('readonly', true);
// 			    	$(this).parent().parent().find('textarea').val('');
			    	$(this).parent().parent().find('input[type=text]').attr('readonly', true);
// 			    	$(this).parent().parent().find('input[type=text]').val('');
			    }
			});
		});

		function submitForm() {
			$('#iscompleted').val('1'); 
			
			var isSuccess = false;
			$('.qsecClass').each(function() {
				var inputVal = $(this).find('input');
				var textareaVal = $(this).find('textarea');
				var checkInput = inputVal[0];
				var textInput = inputVal[1];
				var textAreaInput = textareaVal[0];
				var textAreaStr = $(textAreaInput).val();
				
				if($(checkInput).is(':checked')) {
					if(textAreaStr.length <= 9) {
						alert('Please enter minimum 10 characters');
						$(textAreaInput).focus();
						isSuccess = false;
						return false;
					} else if($(textInput).val() == '') {
						alert('Please enter value');
						$(textInput).focus();
						isSuccess = false;
						return false;
					} else {
						isSuccess = true;
					}
				}
			});
			if(isSuccess){
				$('.qsecClassMandatory').each(function() {
					var textareaVal = $(this).find('textarea');
					var textAreaInput = textareaVal[0];
					if($(textAreaInput).val().length <= 9) {
						alert('Please enter minimum 10 characters');
						$(textAreaInput).focus();
						isSuccess = false;
						return false;
					}else{
						console.log(isSuccess);
						isSuccess = true;
					}
				});
			}
			if(isSuccess){
				var weightage = 0;
				$('.qsecClass').each(function() {
					var inputVal = $(this).find('input');
					var checkInput = inputVal[0];
					var weightageInput = inputVal[2];
					if($(checkInput).is(':checked')) {
						weightage = parseInt(weightage) + parseInt($(weightageInput).val());
						console.log(weightage);
						if(weightage > 100) {
							alert('Total weightage exceeds limit ! Maximum weightage is 100');
							isSuccess = false;
							return false;
						} else {
							isSuccess = true;
						}
					}
				});
			}
			if(isSuccess) {
				var weightage = 0;
				var employeeWeightage = 0;
				$('.qsecClass').each(function() {
					var inputVal = $(this).find('input');
					var checkInput = inputVal[0];
					var weightageInput = inputVal[2];
					var employeeWeightageInput = inputVal[1];
// 					console.log(weightageInput);
					console.log(employeeWeightageInput);
					console.log($(checkInput).is(':checked'));
					if($(checkInput).is(':checked')) {
						weightage = parseInt(weightage) + parseInt($(weightageInput).val());
						employeeWeightage = parseInt(employeeWeightage) + parseInt($(employeeWeightageInput).val());
						console.log(employeeWeightage+'/'+weightage);
					}
				});
				var message = employeeWeightage+'/'+weightage;
				if(confirm("Overall entered weightage is  "+message+". \n \nAre you sure you want to submit the form?")){
					form.submit();
			    } else {
			    	return false;
			    }
			}
		}
		
		function addingForm() {
			$('#iscompleted').val('0'); 
			var isSuccess = false;
			var weightage = 0;
			$('.qsecClass').each(function() {
				var inputVal = $(this).find('input');
				var checkInput = inputVal[0];
				var weightageInput = inputVal[2];
				console.log(weightageInput);
				console.log($(checkInput).is(':checked'));
				if($(checkInput).is(':checked')) {
					weightage = parseInt(weightage) + parseInt($(weightageInput).val());
					console.log(weightage);
					if(weightage > 100) {
						alert('Total weightage exceeds limit ! Maximum weightage is 100');
						isSuccess = false;
						return false;
					} else {
						isSuccess = true;
					}
				}
			});
			
			if(isSuccess) {
			 	$('#saveForm').submit();
			}
		}
		
		function keyUp(){
			this.value = this.value.replace(/[^0-9]/g, '');
			if(this.value > $(this).attr('data-weightage')) { 
				alert('Please enter below ' + $(this).attr('data-weightage'));
				this.value = 10; 
				this.focus(); 
				}
		}
		//]]>
	</script>
</html>