body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #fff;
}
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-control{
	position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.logo{
	width: 200px;
    margin: 0 auto;
}
.loginBox{
	background-color: #FFF;
	padding: 20px;
	display: table;
	margin: 0 auto;
	width: 350px;
}
.header {
    background-color: #F9F9F9;
    border-bottom: 1px solid #e5e5e5;
}
header{
	padding-bottom: 10px;
	padding-top: 10px;
    border-bottom: 1px solid #DDD;
    margin-bottom: 30px;
    background-color: #F9F9F9;
    margin-top: -40px;
}
.inside-logo img{
	width: 160px;
}
.table>tbody>tr>td{
	vertical-align: middle;
}
.table>tbody>tr>td:first-child{
	width: 250px;
}
.page-header {
    padding-bottom: 9px;
    margin: 40px 0 0px;
    border-bottom: 1px solid #eee;
}
.page-header h3{
	margin-top: 0px;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #fBfBfB;
}
.table>thead>tr>th {
    color: #949494;
	font-weight: 400;
}
li.user-details{
	padding: 5px;
}
.dropdown-menu{
	padding-top: 0px;
}
.user-details h5{
	color: #D1202F;
}
.user-details h6{
	margin-bottom: 0px;
}
.frm-btn{
	display: table;
	margin: 0 auto;
}
.frm-btn .btn{
	padding: 10px 50px;
    margin-top: 20px;
    margin-right: 5px;
}
.disableTableRow{
	display : none;
}