<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
		<div class="container">
			<div class="row">
				<div class="col-sm-3 inside-logo">
					<img th:src="@{/images/thumbnails.png}" class="img-responsive" alt="" />
				</div> <!-- col -->
				<div class="col-sm-9">
					<div class="dropdown pull-right">
						<button id="dLabel" class="btn btn-default" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="glyphicon glyphicon-user" ></span> <span th:text="${session.employee.firstName} +' '+ ${session.employee.lastName}"></span>
						<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" aria-labelledby="dLabel">
							<li class="user-details">
								<h5 th:text="${session.employee.team}"></h5>
								<h6 th:text="${session.employee.empCode}"></h6>
							</li>
							<li class="divider"></li>
							<li><a th:href="@{/employee/logout}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
						</ul>
					</div>
				</div> <!-- col -->
			</div> <!-- row -->
		</div> <!-- container -->
	</header>
</html>